<div id="wrapper">
    <!-- HEADER (from header.ejs) -->
    <header id="top-header">
        <div class="header-content">
            <a href="/" title="CSE Motors homepage">
                <h1 class="site-logo">CSE Motors</h1>
            </a>
            <nav class="account-tools">
                <a href="/account/" title="Go to My Account">My Account</a>
            </nav>
        </div>
    </header>