<nav id="main-nav">
    <ul class="nav-list">
        <li><a href="/" title="CSE Motors Home">Home</a></li>
        <li><a href="/customer">Custom</a></li>
        <li><a href="/sedan">Sedan</a></li>
        <li><a href="/SUV">SUV</a></li>
        <li><a href="/truck">Truck</a></li>
    </ul>
</nav>
